%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f|
  .mb-2
    = f.label :email, class: "form-label"
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  .mb-2
    = f.label :password, class: "form-label"
    .input-group{ data: { controller: "password-field" } }
      = f.password_field :password, autocomplete: "current-password", class: "form-control", data: { "password-field-target": "input" }
      .btn.btn-outline-secondary.btn-icon{ data: { action: "click->password-field#togglePasswordVisibility" } }
        .fa.fa-eye{ data: { "password-field-target": "toggleIcon" } }

  .mb-2
    #password-field-vue
  - if devise_mapping.rememberable?
    .mb-2.form-check
      = f.check_box :remember_me, class: "form-check-input"
      = f.label :remember_me, class: "form-check-label"

  = f.submit "Log in", class: "btn btn-primary"

= render "devise/shared/links"
